@import "formValidation.css";
@import "loader.css";

/* Media queries control the sizing of the content depending on screen size */

@media (max-width: 575.98px) {
    .mainContainer {
        width: 75%;
        height: 90%;
    }
}

@media (min-width: 576px) and (max-width: 768px) { 
    .mainContainer {
        width: 65%;
        height: 90%;
    }
}

@media (min-width: 768px) { 
    .mainContainer {
        width: 400px;
        height: 600px;
    }
}

/* Styling the background - adjusting its opacity without affecting the foreground elements */

.background {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
}
  
.background::after {
    content: "";
    background: url(../images/background.jpg);
    opacity: 0.6;
    background-size: cover;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}
  
.mainContainer {
    background-color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    padding: 15px 35px;
    display: table;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Controlling the positioning of the content in the center of the page */
  
.content {
    display: table-cell;
    vertical-align: middle;
    font-family: 'Poppins', sans-serif;
}
  
.content img{
    width:100%;
    height:auto;
    display:block;
    margin-bottom: 20px;
}

/* Style the link on the bottom of the div */

a{
    color:#01a82d;
    font-size: 13px;
    position: absolute;
    bottom: 20px;
    right: 22%;
    left: 22%;
    text-align: center;
}

a:hover{
    color:black;
}

/* Style the login and register buttons */

.btn-primary{
    margin-left:auto;
    margin-right:auto;
    margin-top:30px;
    display:block;
    background-color:#01a82d;
    border:0px;
    width:75%;
}

.btn-primary:hover{
    background-color:#2abb51;
}

.btn-primary:active, .btn-primary:focus{
    background-color:#2abb51;
    box-shadow: 0 0 0 0.2rem #7de097 !important;
}

/* Some form styling */

label{
    color:#ADADAD;
}

input[type=text], input[type=password], input[type=email]{
    margin:10px 0px 10px 0px;
    border-radius: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #e7e7e7;
    box-sizing: border-box;
}

input:focus{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
    border-bottom:1px solid #e7e7e7 !important;
}
